.yellow_box {
    font-family: 'Franklin Gothic Medium';
    font-variant: small-caps;
    font-size: 15px;
    background-color: #cbc112;
    display: flex;
    margin-bottom:20px;
}

.box {
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    padding:30px;
}

.left-box {
    place-content: left;
    border-right: 2px solid #000;
    background-color: #cbc112;
    width: 25%;
    margin-right: 15px;
}

.right-box {
    place-content: right;
    border-left: 2px solid #000;
    background-color: #cbc112;
    width: 66%;
    margin-left: 15px;
}

.red_box{
    display: flex;
    flex-direction:column;
    background-color: #cb1212;
}

.sub-box-1 {
    border-bottom: 2px solid #000;
    height: 100px;
    width: 25%;
    padding: 20px;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
}
.sub-box-2 {
    border-top: 2px solid #000;
    height: 100px;
    width: 25%;
    padding: 20px;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
}