.top_box {
    font-family: Arial;
    font-size: 15px;
    padding: 20px;
    border: 2px solid #000;
    background-color: #cbc112;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-text {
    font-family: inherit;
    font-size: inherit;
    padding: inherit;
}

.right-text {
    font-family: inherit;
    font-size: inherit;
    padding: inherit;
    text-align: center;
}