h1{
    background-color: #fff7008b;
    padding:45px;
    padding-bottom: 6%;
    text-align: center;
    border: black 2px solid;
    margin: 5px;

}

h1>.izquierda{
    float: left;
    width: 25%;
}
h1>.derecha{
    float: right;
    width: 35%;
    
}
